:root {
    --color-text: gainsboro;
    --color-red-danger: rgb(207, 8, 8);
}

html {
    height: 100%;
}

main {
    height: 100vh;
}

body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

}

.user {
    background-color: azure;
}

.my-trnsp-btn {
    border: none;
    background: transparent;
}